.nav {
    position: relative;
    width: 250px;
    height: 100vh;
    background-color: #EBF2FA;
    bottom: 20px;
    left: 0;
    justify-content: space-around;
    border: none;
}
.search{
    width: 1100px;
    height: 250px;
    position: relative;
    bottom: 670px;
    left: 250px;
    background-color: #427AA1;
}
input[type=email]{
    width: 400px;
    height: 45px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    background-color: white;
    position: relative;
    top: 180px;
    left: 20px;
}
.featured{
    width: 1100px;
    height: 350px;
    position: relative;
    background-color: #05668D;
    bottom: 690px;
    left: 250px;
}
.service{
    width: 1100px;
    height: 350px;
    position: relative;
    background-color: #427AA1;
    bottom: 710px;
    left: 250px;
}
.featured>div {
    background-color: #EBF2FA;
    height: 280px;
    width: 200px;
    margin: 30px;
    display: inline-block;
    border-radius: 30%;
    position: relative;
    bottom: 30px;
}
.service>div {
    background-color: #EBF2FA;
    height: 280px;
    width: 200px;
    margin: 30px;
    display: inline-block;
    border-radius: 30%;
    position: relative;
    bottom: 30px;
}
input[type=submit]{
    text-align: centre;
    color: white;
    background-color: #679436 ;
    border: none;
    position: relative;
    top: 180px;
    left: 30px;
}