body{
    padding: 0;
    margin: 0;
}
#elipse {
    background-color: rgba(103, 148, 54, 0.49);
    height: 100vh;
    width: 35%;
    position: relative;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    
}
#PP{
    height: 50%;
    width: 90%;
    position: relative;
    top: 25%;
    left: 10%;
    border-radius: 70%;
}
#user-info {
    height: 500px;
    width: 700px;
    position: relative;
    left: 50%;
    bottom: 490px;
    font-size: larger;
}
@media(max-width:700px){
    #PP{
        height: 30%;
        top: 35%;
    }
    #user-info{
        left: 40%;
    }
}